{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity Airlines</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("{% static 'imagenes/mapa.png' %}");
            background-size: 100% 100%;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <button class="button">Registrarse</button>
    <button class="button">Iniciar sesión</button>
</body>
</html>